{{define "subject"}}Godvanced{{end}} 

{{define "plainBody"}} 
Благодарим за регистрацию в нашем сервисе! 
Уникальный идентификатор вашего аккаунта - {{.userID}}. 

Пожалуйста, отправьте запрос на маршрут `PUT /v1/user/activated` с данным телом JSON, чтобы
активировать ваш аккаунт:

{"token": "{{.activationToken}}"}

Учтите, что этот токен используется один раз и его срок истечет через 3 дня.

Godvanced Team 
{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Благодарим за регистрацию в нашем сервисе!</p>
    <p>Уникальный идентификатор вашего аккаунта - {{.userID}}.</p>
    <p>Пожалуйста, отправьте запрос на маршрут `PUT /v1/user/activated` с данным телом JSON, чтобы
активировать ваш аккаунт:</p>
    <pre><code>
      {"token": "{{.activationToken}}"}
    </code></pre>
    <p>Учтите, что этот токен используется один раз и его срок истечет через 3 дня.</p>
    <br>
    <p>Godvanced Team</p>
  </body>
</html>
{{end}}
