{{define "subject"}}Godvanced{{end}} 

{{define "plainBody"}} 
Благодарим за регистрацию в нашем сервисе! 
Уникальный идентификатор вашего аккаунта - {{.ID}}. 

Godvanced Team 
{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Благодарим за регистрацию в нашем сервисе!</p>
    <p>Уникальный идентификатор вашего аккаунта - {{.ID}}.</p>
    <br>
    <p>Godvanced Team</p>
  </body>
</html>
{{end}}
